* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ::-webkit-scrollbar {
  display: none;
} */

body {
  --theme-color: #449ac7;
}

.btn {
  color: white;
  font-weight: 500;
  background: var(--theme-color);
  font-family: "Open Sans";
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 17px;
}

.btn:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
  transition-property: opacity;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4 {
  /* Website Font Theme */
  font-family: "Montserrat";
  font-weight: 300;
  color: white;
  cursor: default;
}

/* Showcase */
#showcase {
  background: url(../images/skyline2.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Nav */
header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 30px;
  width: 100vw;
  height: 80px;
  position: fixed;
  background: black;
  z-index: 2;
  transition: 0.5s;
  opacity: 0.95;
}

header ul {
  display: flex;
}

header li {
  font-size: 18px;
  font-weight: 300;
}

.menu ul > li > a {
  padding: 10px 15px;
  margin: 0 5px;
  transition-duration: 0.3s;
  transition-property: border;
  border-bottom: 2px solid transparent;
}

.menu > ul > li > a:hover {
  border-bottom: 2px solid var(--theme-color);
}

nav {
  transition-duration: 0.5s;
}

#brand {
  transition-duration: 0.5s;
}

#brand h2 {
  font-weight: 200;
  font-size: 1.8rem;
  cursor: pointer;
}

#header.top {
  background: transparent;
}

.menu-outer {
  border: solid 1px lightgray;
  border-radius: 5px;
  height: 35px;
  width: 45px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#menu {
  margin: 8px 0;
  height: 19px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  height: 2px;
  width: 100%;
  background: lightgray;
}

/* Showcase Text */
#showcase-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#showcase-text * {
  z-index: 1;
}

#showcase-text h1 {
  padding: 15px;
  font-size: 3.5rem;
}

#showcase-text p {
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 1;
}

#showcase-text a {
  margin-top: 18px;
}

#showcase-text a:hover {
  opacity: 0.9;
}

/* Team */
#team-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#team-text h3 {
  font-size: 3rem;
  margin-top: 40px;
}

#team-text h2 {
  font-size: 2.4rem;
  padding: 5px 10px 5px;
  margin: 0 0 7px;
}

#team-text p {
  font-size: 1.2rem;
  margin-bottom: 70px;
  font-weight: 400;
}

#team p,
#team h2,
#team h3 {
  color: black;
}

#team-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

#team-boxes img {
  width: 100%;
  border-radius: 50%;
  padding: 0 20px;
}

.team-box {
  width: 28%;
  margin: 0 15px;
}

.team-images {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.team-box h3 {
  font-size: 1.7rem;
  padding-bottom: 5px;
  font-weight: 400;
  margin-top: 15px;
}

.team-box p {
  font-size: 1.3rem;
  margin-bottom: 60px;
  font-weight: 400;
}

/* About */
#about {
  display: flex;
}

#about img {
  width: 50vw;
  height: 430px;
  object-fit: cover;
  object-position: bottom;
}

.about-content {
  color: black;
  width: 50vw;
  height: 430px;
  background: var(--theme-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.about-content h2 {
  padding-left: 10px;
  font-size: 2.43rem;
  font-weight: 200;
}

.about-content p {
  padding: 10px;
  padding-bottom: 35px;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}

.about-content a {
  border: 1px solid white;
  margin-left: 10px;
  transition: 0s;
}

.about-content a:hover {
  opacity: 0.8;
}

/* Services */
#services {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 70px;
}

.services-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 70%;
}

.services-div h3 {
  color: black;
  font-weight: 400;
  font-size: 1.6rem;
}

.services-div p {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1.15rem;
  font-weight: 400;
}

#services i {
  height: 70px;
  width: 70px;
  background-color: var(--theme-color);
  border-radius: 50%;
  padding-top: 18px;
  margin-bottom: 20px;
}

#services h2 {
  margin-bottom: 40px;
  color: black;
  font-size: 3.4rem;
}

/* Contact */
#contact {
  display: flex;
}

#contact img {
  width: 50vw;
  height: 430px;
  object-fit: cover;
  object-position: top;
}

.contact-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.contact-content {
  color: black;
  width: 50vw;
  height: 430px;
  background: var(--theme-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.contact-content h2 {
  padding-left: 10px;
  font-size: 2.6rem;
}

.contact-content a:hover {
  opacity: 0.8;
}

.contact-form {
  width: 100%;
  padding: 0px 10px;
}

.contact-form label {
  margin: 15px 0 5px;
  display: block;
  color: white;
  font-size: 1.24rem;
  font-weight: 200;
}

#name-label {
  margin-top: 20px;
}

.contact-form input {
  width: 100%;
  padding: 4px;
  height: 35px;
  border: #f5f5f5 1px solid;
  font-size: 0.95rem;
}

.inner-contact-content {
  width: 100%;
}

#submit {
  font-size: 1rem;
  margin-top: 30px;
  cursor: pointer;
  width: 100px;
  height: 42px;
  background: #111;
  color: white;
  border: none;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

#submit:hover {
  opacity: 0.85;
}

/* Footer */
footer {
  height: 90px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Media Queries */
@media (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
  }

  #showcase-text {
    text-align: center;
  }

  .services-div i {
    margin-top: 20px;
  }

  #brand h2 {
    padding-bottom: 20px;
  }

  #brand a {
    padding: 0px;
  }

  #about img {
    object-fit: cover;
  }

  #contact img {
    object-fit: cover;
  }

  .line-services {
    display: none;
  }

  .services-sections {
    width: 33%;
  }

  #services h2 {
    margin-bottom: 10px;
  }

  .team-box {
    width: 33%;
    margin: 0;
  }

  .services-div {
    width: 100%;
  }

  /* Contact */
  .contact-form label {
    font-size: 1.2rem;
  }

  .contact-content h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 736px) {
  /* Header */
  header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 0px;
  }

  #brand {
    margin-left: 0px;
  }

  #brand h2 {
    padding: 10px 0;
    font-size: 1.6rem;
  }

  .menu {
    display: none;
  }

  /* Menu */
  .menu-outer {
    display: flex;
  }

  nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin-right: 0px;
  }

  nav > a {
    margin-top: 23px;
  }

  .menu {
    background: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    height: 200px;
  }

  .menu > ul {
    display: flex;
    flex-direction: column;
  }

  .menu > ul > li {
    padding: 5px;
  }

  .menu > ul > li > a {
    padding: 3px 0px;
    font-size: 1rem;
  }

  /* Showcase */
  #showcase-text h1 {
    font-size: 2.8rem;
  }

  /* Team */
  #team h2 {
    text-align: center;
  }

  #team p {
    text-align: center;
    margin-bottom: 50px;
  }

  #team-boxes {
    flex-direction: column;
  }

  .team-box {
    width: 100%;
  }

  .team-box > img {
    margin-top: 10px;
  }

  .team-box > h3 {
    margin-top: 13px;
  }

  #team-text h3 {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  #team-text h2 {
    font-size: 1.8rem;
    padding: 10px 10px 5px;
    margin: 3px 0 7px;
  }

  /* About */
  #about {
    flex-direction: column-reverse;
  }

  #about img {
    width: 100%;
    height: 100%;
  }

  .about-content {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px 10px;
  }

  .about-content {
    padding-bottom: 50px;
  }

  .about-content p {
    padding: 10px 5px 30px;
  }

  /* Services */
  #services {
    margin: 0;
  }

  #services > h2 {
    margin: 30px 0 0px;
  }

  .services-div {
    flex-direction: column;
  }

  .line-services {
    display: block;
    width: 70%;
    background: #555;
    height: 2px;
  }

  .services-sections {
    width: 90%;
  }

  .services-sections > div {
    margin-bottom: 60px;
    width: 100%;
  }

  .services-div i {
    margin-top: 50px;
  }

  /* Contact */
  #contact {
    flex-direction: column-reverse;
  }

  #contact img {
    display: none;
  }

  .inner-contact-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact-content {
    height: 460px;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .input-form label {
    text-align: left;
  }
}
